.section-four {
  display: grid;
  grid-template-columns: 307px auto auto 310px;
  column-gap: 10px;
  padding-top: 10px;
}
.most {
  border-radius: 15px;
  background-color: #ffffff;
}
@media (max-width: 430px) {
  #section-four {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
}

@media (max-width: 1135px) {
  .section-four {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
}
