.section-three {
  display: grid;
  grid-template-columns: 305px auto auto 308px;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;

  .total {
    border-radius: 15px;
    height: 206px;
    background-color: #fff;
  }
}

@media (max-width: 1135px) {
  .section-three {
    display: grid;
    padding-top: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
  }
}
