.section-two {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 10px;
  grid-template-columns: 305px 1fr 308px;
  grid-template-rows: 1fr;
  .comp {
    border-radius: 15px;
  }
  .working {
    background-color: #ffffff;
  }
}

@media (max-width: 440px) {
  #main4Components {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 1135px) {
  .section-two {
    display: grid;
    column-gap: 20px;
    padding-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
  }
}

.main4Components {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

#pro-slack {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
