.section-one-container {
  color: black;
  display: grid;
  grid-template-columns: 305px 1fr 308px;
  gap: 4px;
  padding-top: 8px;
}

.item {
  border-radius: 15px;
  background: #ffffff;
}

@media (max-width: 1135px) {
  .section-one-container {
    display: grid;
    column-gap: 20px;
    padding-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }
}
